*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: whitesmoke; */

}

:root{
  --background-color: whitesmoke;
  --font-color: black;
  --list-color: #333;
  --card-background-color: white;
  --card-border: darkgray;
}
[data-theme="dark"]{
  --background-color: black;
  --font-color: white;
  --list-color: #fff;
  --card-background-color: #222;
  --card-border: #333;
}
body{
  /* font-family: "Poppins", sans-serif;
    font-size: 18px; */
    
}
.App{
  color: var(--font-color);
}
.darkMode{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
  font-weight: 500;
}